.navbar{
    background-color: rgb(255, 0, 0);
    display: flex;
    position: sticky;
    top: 0;
}

.sidenavbar{
    background-color: rgb(48, 47, 47);
    float: left;
    width: 23%;
    height: 100%;
    position: fixed;
    padding: 25px 0 25px 0;
}

.sidenav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin:15px 0 15px 0;
}

.sidenav a:hover{
    background-color: rgb(219, 32, 32);
}
.donate , .hospital, .login, .ava, .update, .contain{
    margin-left: 23%;
    width: 75%;
}
.login{
    margin-top: 10%;
    margin-left: 35%;
}


/* .table , th , td{
    border: 1px solid black;
} */

.ava{
    border: 1px solid;
    border-radius: 25px;
}


